//import UIkit
@import '../../node_modules/uikit/dist/css/uikit.css';
//import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
//import de ma police utilisée
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//var blanc
$white: white;
//var noire
$black: var(--dark);
//var blackborder
$blackborder: black;
//var gris opacity 0.3
$greyopacity2: rgba(255, 255, 255, 0.3);

//couleur de ma page HTML en noire
html {
  background-color: $black;
}
//mon body en noir avec la police choisis
body {
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
}

.btn-neon {

  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(242, 30, 30, 0.84);
  border-radius: 100%;
  animation: neonborder 0.5s  ease-in-out infinite alternate;

  &:hover {
    background-color: rgba(242, 30, 30, 0.58);
  }

  img {
    width: 40px;
  }

}

//css header
.my-header {
  padding-top: 50px;
  background-image: $black;
  background-position: center;
  background-size: cover;
}

//css title
.my-title {
  font-size: 90px;
  font-weight: bold;
  color: $black;
  animation: neon 0.8s  ease-in-out infinite alternate;
  user-select: none;

  &:hover
  {
    color: $white;
    cursor: pointer;
  }
}
//label
label {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
//css ajout de class js neon-text
.neon-text {
  font-size: 30px;
  color: $white;
  animation: neon 0.8s  ease-in-out infinite alternate;
}

//css my search input "my linear border" = div qui fais l'animation néon derriere l'input
.my-linear-border
{
  transition: 0.5s;
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding: 2px;
  background-color: $white;
  border-radius: 15px;
  animation: neonborder 0.8s  ease-in-out infinite alternate;
  //hover de ma div scaling
  &:hover {
    transform: scale(1.2);
  }
  //mon input
  input {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white;
    background-color: $black;
    border: none;
    border-radius: 15px;
    animation: neon 0.8s  ease-in-out infinite alternate;
    //hover de mon input
    &:hover {
      transform: scale(1);
      background-color: rgba(0, 0, 0, 0.9);
      color: $white;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.9);
      color: $white;
    }
    //placeholder de mon input effet néon
    &::placeholder {
      color: $white;
    }
  }
}
//une div qui me sert a separateur design avec une animation
.separate-style
    {
      width: 100%;
      height: 2px;
      margin: 30px 0;
      background: linear-gradient(to right,rgb(255, 102, 0), red, rgb(255, 102, 0));
      animation: neonborder 0.5s linear infinite;
    }

//div qui sert de parent a ma list
.my-div-rela {
  width: 350px;
  position: relative;
}

//css carou
.my-carou {
  //effet noir est blanc pour le carou
  img {
    filter: grayscale(100%);
    //hover desactive le noir et blanc
    &:hover {
      filter: none;
    }
  }
  //design des svg de mon carou
  svg {
    padding: 5px;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: $black;
  }
}

//css list movie
.movie-list {
  position: absolute;
  left: 0;
  top: 4.5rem;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //div qui contient chaque films
  div {
    width: 100%;
    margin: 0;
    color: $white;
    background-color: $black;
    border-bottom: 1px solid $blackborder;
    border-right: 1px solid $blackborder;
    border-left: 1px solid $blackborder;
    //img de mes films
    img {
      width: 50px;
      height: 70px;
    }
    //liens vers la page produit de mes films effet noir&blanc
    a {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: $white;
      filter: grayscale(80%);
      //hover desactive l'effet noire&blanc
      &:hover {
        background-color: $greyopacity2;
        filter: none;
      }
    }
  }
}
//css de mes input radio
.radio-options {
  width: 50%;
  margin: 20px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //l'input radio
  input {
    display: none;
  }
}

//css page produit text droite
.movietxt {
  margin-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //text droite
  .txt-div-product
  {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid $blackborder;
    border-radius: 20px;

  }
  //H1
  h1 {
    width: 90%;
    font-size: 50px;
    color: $white;
  }
  //p
  p {
    width: 90%;
    margin-left: 10px;
    color: $white;
  }
  //css du status du film/de la serie
  #status {
    color: green;
    font-size: 20px;
    font-weight: 900;
  }
}
//body de la recherche des films
#body-movies {
  width: 100%;
  margin-top: 5px;
  background-color: $black;
  display: flex;
  justify-content: center;
  //css des A de ma recherche de films
  .my-links-movies 
  {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  //css de la div qui contiens le film
  .div-movie-link {
    min-width: 250px;
    max-width: 250px;
    padding: 0;
    min-height: 450px;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    border: 2px solid $black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    //hover effet noir&blanc
    &:hover {
      filter: none;
    }
    //span
    span {
      display: inline-block;
      width: 250px;
      height: 450px;
    }
    //div
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 60px;
      border: none;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $black;
      //h1
      h1 {
        text-align: center;
        font-size: 20px;
        color: $white;
      }
    }
  }
  //p
  p {
    margin-left: 15px;
  }
  //img
  img {
    width: 200px;
    height: 300px;
  }
}
//css de ma pagination
.my-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  background-color: $black;
}
//css pagination
.my-page {
  //btn left pagination
  #btn-page-Down
  {
    transform: rotate(180deg);
  }
  //css des 2 boutons pagination
  button {
    width: 5%;
    border: 1px solid $white;
    //hover
    &:hover
    {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  //txt nombre de page
  #page-number 
  {
    margin-top: 10px;
    color: $white;
  }
}

//css page produit
#body-txt {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  #my-img-div {
    position: relative;
  }
  //carte qui contiens l'image du film
  .my-card {
    overflow: hidden;
    width: 280px;
    height: 410px;
    border-radius: 24px;
    border: 2px solid $blackborder;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.5);
    transition: 1s;
    //hover pointer pour montrer l'interaction possible au click
    &:hover {
      cursor: pointer;
    }
  }
  //img size
  img {
    width: 100%;
    height: 100%;
  }
}

//keyframes
//néon text-shadow
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(242, 30, 30, 0.52),
    0 0 21px rgba(242, 30, 30, 0.92),
    0 0 34px rgba(242, 30, 30, 0.78),
    0 0 54px rgba(242, 30, 30, 0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(242, 30, 30, 0.58),
    0 0 22px rgba(242, 30, 30, 0.84),
    0 0 38px rgba(242, 30, 30, 0.88),
    0 0 60px rgb(242, 30, 30);
  }
}
//néon box shadow (div derriere l'input)
@keyframes neonborder {
  from {
    box-shadow:
    0 0 3px rgba(202,228,225,0.92),
    0 0 15px rgba(202,228,225,0.34),
    0 0 6px rgba(242, 30, 30, 0.52),
    0 0 10.5px rgba(242, 30, 30, 0.92),
    0 0 17px rgba(242, 30, 30, 0.78),
    0 0 27px rgba(242, 30, 30, 0.92);
  }
  to {
    box-shadow:
    0 0 3px rgba(202,228,225,0.98),
    0 0 15px rgba(202,228,225,0.42),
    0 0 6px rgba(242, 30, 30, 0.58),
    0 0 11px rgba(242, 30, 30, 0.84),
    0 0 19px rgba(242, 30, 30, 0.88),
    0 0 30px rgb(242, 30, 30);
  }
}
  
