@import '../../node_modules/uikit/dist/css/uikit.css';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$white: white;
$primarybrown: rgb(187, 100, 0);
$secondarybrown: rgb(131, 70, 1);
$brown3: rgb(78, 42, 0);

body 
{
    height: 800px;
    background-color: $secondarybrown;
}

header 
{
    border-bottom: 3px solid $brown3;
}

//css header
.my-header 
{
    padding: 50px 50px 25px 50px;
    background-color: $secondarybrown;;
    background-position: center;
    background-size: cover;
}

//css title
.my-title
{
    font-size: 70px;
    font-weight: bold;
    color: $white;
}

//css my search input
#my-input
{
    transition: 0.7s;
    width: 100%;
    text-align: center;
    color: $white;
    background-color: $primarybrown;
    border: 2px solid $white;
    border-radius: 30px;

    &:hover
    {
        background-color: $secondarybrown;
    }

    &:focus
    {
        background-color: $brown3;
    }

    &::placeholder
    {
        color: $white;
    }
}

.my-div-rela
{
    width: 350px;
    position: relative;
}

//css list movie
.movie-list
{
    position: absolute;
    left: 0;
    top: 2.5rem;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div 
    {
        width: 100%;
        margin: 0px;
        color: $white;
        background-color: $primarybrown;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;

        img 
        {
            width: 50px;
            height: 70px;
        }

        a 
        {
            width: 95%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: $white;
            &:hover 
            {
                background-color: $brown3;
            }
        }
    }
}

.my-h2 
{
    margin-top: 0px;
    font-size: 50px;
    color: $white;
}

//css carou
.my-carou
{
    width: 100%;

    svg 
    {
        padding: 5px;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        color: black;
    }
}

#body-movies 
{
    margin-top: 5px;
    background-color: $secondarybrown;

    div 
    {
        padding: 15px;
        display: flex;
        align-items: center;
        color: $white;
        border-bottom: 2px solid $white;
        div 
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border: none;

            h1 
            {
                color: $white;
            }
        }
    }

    p 
    {
        margin-left: 15px;
    }

    img 
    {
        width: 200px;
        height: 300px;
    }

    a 
        {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $white;
            &:hover 
            {
                background-color: $brown3;
            }
        }
}

//css page produit

#my-img 
{
    width: 100%;
}

.movietxt
{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primarybrown;

    h1 
    {
        width: 90%;
        font-size: 50px;
        color: $white;
    }

    p 
    {
        width: 90%;
        margin-left: 10px;
        color: $white;
    }

    #status 
    {
        color: green;
        font-size: 20px;
        font-weight: 900;
    }
}